.Corp{ /*reglage corp*/
	width: 40%;	
	background-color: #c0c0c0;
	border: 1px solid black;
	border-radius: 30px;
	margin: 0 auto;
	box-shadow: 15px 15px 25px black;
	padding-left: 1%
}
ul{ /*disparition des point de la liste*/
	list-style-type: none;
}
fieldset{	/*reglage fieldset*/
	width: 85%;
	margin: 0 auto;		
}
.perso{ /*reglage des titres d'input*/
	width: 25%;	
	text-align: right;
	display: inline-block;
}
.perso-input{ /*reglage input*/
	width: 50%;
}
.message{	/*reglage message*/
	height: 150px;
	width: 80%;
	margin-left: 9%;
}
.mail{ /*reglage mail*/
	color: blue;
}
.mail:hover{ /*reglage mail*/
	text-decoration: underline;
}

